@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
:root {
    --primary-light: #cec8b600;
    --primary-dark: #322f2f;
}

html {
  position: relative;
  min-height: 100%;
  background-color: var(--primary-light);
}
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: var(--primary-dark);
  margin: 0;
}
h1 {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 50px;
  margin-bottom: 50px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.grid {
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: 2px 2px 6px 3px grey;
}
.grid-item {
  user-select: none;
}
input[type="color"] {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 25px;
  background: transparent;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button,
input {
  border: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  color: var(--primary-dark);
}
button {
  border: solid 1px grey;
  background-color: white;
  border-radius: 5px;
  height: 30px;
}
button.active {
    background-color: var(--primary-dark);
    color: white;
    transform: scale(1.05);
}
button:hover,
input:hover {
  transform: scale(1.05);
}
.settings {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 50px;
  gap: 20px;
}
label.switch {
  align-self: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-dark);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input[name="size--slider"] {
  color: var(--primary-light);
}
.footer {
  position: absolute;
  bottom: 0;
  margin: 10px auto;
  width: 100%;
}
